:root {
  --primary-color: rgb(0, 68, 204);
  --dark-mode-primary-color: rgb(200, 220, 255);
}

@media (max-width: 650px) {
  .profile-picture-page {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 100%;
  }
}

@media (min-width: 650px) {
  .profile-picture-page {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
  }
}

.profile-picture {
  border-radius: 100%;
  min-width: 43px;
  max-width: 43px;
  min-height: 43px;
  max-height: 43px;
}

.link {
  color: var(--primary-color);
  font-size: 15px;
}

/* DARK MODE */
.dark-mode .link {
  color: var(--dark-mode-primary-color);
}
