@media (max-width: 650px) {
  .profile-picture {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 650px) {
  .profile-picture {
    width: 150px;
    height: 150px;
  }
}

.profile-picture {
  border-radius: 100%;
}

.link {
  color: rgb(0, 68, 204);
  font-size: 15px;
}

/* DARK MODE */
.dark-mode .link {
  color: rgb(200, 220, 255);
}
