@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --main-bg-light: linear-gradient(to right, #fff, rgba(255, 201, 228, 0.3));
  --main-bg-dark: linear-gradient(to right, #000, rgb(29, 25, 27));
  --placeholder-light: #333333;
  --placeholder-dark: #9d9d9d;
  --button-bg-light: #f874bb;
  --button-bg-dark: #68053a;
  --button-text: #fff;
  --input-bg-light: #eee;
  --input-bg-dark: #2b2b2b;
  --border-color-light: #ccc;
  --border-color-dark: #4d4d4d;
  --shadow-light: rgba(0, 0, 0, 0.35);
  --shadow-dark: rgba(255, 255, 255, 0.35);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
  /* font-weight: 500; */

  /* MAKE ELEMENTS NOT SELECTABLE */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  color: #000;
  background-color: #ffffff;
  background: var(--main-bg-light);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 100svh;
  max-width: 100svw;
  /* overflow: hidden; */
}

@media (max-width: 650px) {
  .only-pc {
    display: none;
  }
}

@media (min-width: 650px) {
  .only-mobile {
    display: none;
  }
}

.container-y {
  display: flex;
  flex-direction: column;
}

.container-x {
  display: flex;
  flex-direction: row;
}
p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}
li {
  list-style: none;
}

.error-span {
  color: red;
}

a,
.a-span {
  color: var(--placeholder-light);
  font-size: 13px;
  text-decoration: none;
  margin-top: 15px;
}

.pointer {
  cursor: pointer;
}

button {
  background-color: var(--button-bg-light);
  color: #fff;
  font-size: 12px;
  padding: 10px 9%;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 2px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.three-quarters-width {
  width: 75%;
}

.transparent-button {
  background-color: transparent;
  border-color: #fff;
}

h2 {
  margin: 5px 0;
}

.underline {
  text-decoration: underline;
}

p,
span {
  font-size: 14px;
}

input {
  background-color: var(--input-bg-light);
  border: none;
  margin: 5px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

/* LOADER */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* DARK MODE */

.dark-mode {
  color: #fff;
  background-color: #000;
  background: var(--main-bg-dark, #000);
}

.dark-mode {
  background-color: #000;
  box-shadow: 0 5px 15px var(--shadow-dark);
}

.dark-mode a,
.dark-mode .a-span {
  color: var(--placeholder-dark);
}

.dark-mode button {
  background-color: var(--button-bg-dark);
}

.dark-mode .form-container {
  background-color: #000;
}
.dark-mode input {
  background-color: var(--input-bg-dark);
}
.dark-mode .loader {
  border-top: 3px solid #fff;
}
